
.idea
.vscode
.git
.git*
.npmrc
.gitignore
.*

*/.idea/*
*/.git/*
*/bak/*
*/tmp/*

tmp/
build/
test/
test-browser/
.travis.yml

sample/package.json
sample/package-lock.json
sample/node_modules
*/node_modules

*.swp
*.log
*.bak.*



